body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.banner {
    background-color: #000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.banner-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Merriweather', serif;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #aaa;
}

.section {
    display: none;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    box-sizing: border-box;
}

.body-content {
    flex: 1;
    padding-right: 20px;
    font-size: 1.2em;
    line-height: 1.5;
}

.picture-content {
    flex-shrink: 0;
}

.picture-content img {
    width: 360px;
    height: 540px;
    border-radius: 8px;
    object-fit: cover;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vitae-section, .research-section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 768px) {
    .banner-content, .body-wrapper, .vitae-section, .research-section {
        padding: 10px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .body-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .body-content {
        padding-right: 0;
        font-size: 1em;
    }

    .picture-content img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .banner {
        height: auto;
        padding: 10px;
    }

    .banner-content {
        flex-direction: column;
    }

    .menu ul {
        padding: 0;
        text-align: center;
    }

    .menu a {
        font-size: 1em;
    }
}

